In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -1.199246 -1.122600 -0.051519 -0.890710
2013-01-02 -0.987937 -0.634215 -0.863974  1.757788
2013-01-03 -1.655902  0.973475 -0.102238 -1.205045
2013-01-04  0.622250 -0.115484  0.068420 -0.814183
2013-01-05  0.812723 -0.697919  0.505189  0.790688
2013-01-06 -0.033917  1.344738 -0.818507  0.029666